html {
    height: 100%;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
}

a {
    text-decoration: none;
    color: #6B6FBC;
    font-weight: bold;
}

.navLink {
    font-weight: normal;
    color: #fff;
}

.inProgress {
    text-align: center;
    padding: 10px 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    background-color: #6B6FBC;
    color: #fff;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.navbar {
    font-size: 18px;
    text-align: center;
}

.option {
    padding: 12px 30px;
    display: inline-block;
}

    .option:hover {
        background-color: #5e63ba;
    }

.pullLeft {
    float: left;
    margin-left: 20%;
}

.pullRight {
    float: right;
    margin-right: 20%;
}

.infoRow {
    overflow: hidden;
    margin: 25px 0;
}

.header {
    background-color: #6B6FBC;
    color: #fff;
    padding: 10px 0;
}

.smallHeader {
    background-color: #4549a1;
    color: #fff;
    padding: 17px 30px;
    font-weight: bold;
    font-size: 20px;
}

.secondaryHeader {
    padding-bottom: 0;
}

/*homepage*/
#welcome {
    text-align: center;
    padding: 10px 0;
}

#homePageContainer {
    height: 100%;
    color: #fff;
}

#joinPartyLink {
    color: #fff;
    text-decoration: none;
}

#blurb {
    text-align: center;
    padding: 30px 0;
}

#info {
    margin: auto;
    text-align: center;
    padding: 25px 0 0;
}

.linkSquare {
    display: inline-block;
    width: 25%;
    background-color: #272727;
}

.overlay {
    padding: 80px 0;
}

.linkSquare:hover {
    background-color: #808080;
}

/*info page*/
.infoText {
    padding: 20px 90px;
    line-height: 160%;
}

#historyText {
    display: inline-block;
    width: 60%;
}

#partyLogo {
    display: inline-block;
}

/*platform page*/


/*quiz page*/