html {
    height: 100%;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
}

.container {
    min-height: 100%;
    position: relative;
}

a {
    text-decoration: none;
    color: #6B6FBC;
    font-weight: bold;
}

.navLink {
    font-weight: normal;
    color: #fff;
}

.inProgress {
    text-align: center;
    padding: 10px 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 15px 0;
    background-color: #6B6FBC;
    color: #fff;
}

.push {
    height: 51px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
}

.navbar {
    font-size: 18px;
    text-align: center;
}

.option {
    padding: 12px 30px;
    display: inline-block;
}

    .option:hover {
        background-color: #5e63ba;
    }

.pullLeft {
    float: left;
    margin-left: 20%;
}

.pullRight {
    float: right;
    margin-right: 20%;
}

.infoRow {
    overflow: hidden;
    margin: 25px 0;
}

.header {
    background-color: #6B6FBC;
    color: #fff;
    padding: 10px 0;
}

.smallHeader {
    background-color: #4549a1;
    color: #fff;
    padding: 17px 30px;
    font-weight: bold;
    font-size: 20px;
}

.secondaryHeader {
    padding-bottom: 0;
}

/*homepage*/
#welcome {
    text-align: center;
    padding: 10px 0;
}

#homePageContainer {
    height: 100%;
    color: #fff;
}

#joinPartyLink {
    color: #fff;
    text-decoration: none;
}

#blurb {
    text-align: center;
    padding: 30px 0;
}

#info {
    margin: auto;
    text-align: center;
    padding: 25px 0 0;
}

.linkSquare {
    display: inline-block;
    width: 25%;
    background-color: #272727;
}

.overlay {
    padding: 80px 0;
}

.linkSquare:hover {
    background-color: #808080;
}

/*info page*/
.infoText {
    padding: 20px 90px;
    line-height: 160%;
}

#historyText {
    display: inline-block;
    width: 60%;
}

#about {
    margin-bottom: 4%;
}

/*platform page*/
#platform {
    overflow: hidden;
}

#sectionSelector {
    float: left;
    background-color: #4549a1;
    color: #fff;
    display: inline-block;
    margin: 4% 0 4%;
    padding: 75px 0;
}

#sectionDisplay {
    background-color: #4549a1;
    color: #fff;
    display: inline-block;
    padding: 25px 25px;
    margin: 4% 1% 4% 10%;
    width: 50%;
}

.platSecOpt {
    padding: 25px 30px;
}

    .platSecOpt:hover {
        background-color: #6B6FBC;
    }

.platSecTitle {
    font-size: 20px;
    font-weight: bold;
}

.platSecText {
    padding: 12px 10px;
}

/*quiz page*/

/*media queries*/
@media all and (max-height: 723px) { /*short resolutions*/
    .overlay {
        padding: 50px 0;
    }
}

@media all and (max-width: 756px) { /*small resolutions*/

}

@media all and (max-width: 380px) { /*mobile resolution*/

}
